/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
}

header {
    background-color: #ff6600;
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: flex-start; /* Alinea al inicio horizontalmente */
    align-items: center; /* Alinea verticalmente */
}

h1 {
    margin: 0; /* Elimina el margen del título */
}

.logo-image {
    border-radius: 10px; /* Agrega bordes redondeados */
    height: 80px; /* Ajusta la altura del logo según sea necesario */
    margin-right: 10px; /* Añade un pequeño espacio entre el logo y el título */
}

.section-container {
    padding: 20px;
    margin: 20px;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
}

h2 {
    color: #ff6600;
}

p {
    line-height: 1.6;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00c3ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #ff6600;
}

/* Estilos específicos para el catálogo de productos */
#accesorios {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples líneas */
    justify-content: space-around; /* Distribuir los elementos uniformemente */
}

.accesorios-box {
    width: 200px; /* Ancho fijo */
    height: 320px; /* Altura fija */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 10px; /* Margen entre los productos */
    padding: 10px;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.accesorios-box img {
    width: auto; /* Ajustar automáticamente el ancho */
    height: 200px; /* Altura fija */
    max-width: 100%;
    max-height: 100%; /* Ajustar la altura automáticamente */
    object-fit: contain; /* Ajustar imagen para que quepa completamente en el contenedor manteniendo la relación de aspecto */
}

.accesorios-box p {
    margin: 5px 0;
}

.accesorios-box:hover {
    box-shadow: 0 0 10px #ff6600;
}

.stock-message {
    color: #333; /* Color del texto */
    font-size: 14px; /* Tamaño de la fuente */
    font-style: italic; /* Estilo de fuente */
    margin-top: 5px; /* Espacio superior */
}

/* Estilos para los filtros */
.filtro {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.filtro-option {
    margin-bottom: 15px;
}

.filtro-option label {
    display: block;
    margin-bottom: 5px;
}

/* Estilos para el selector de filtro */
#filter {
    margin-bottom: 20px;
}

/* Estilos para la columna de filtros */
.filtro-option select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
