/* CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.header {
    background-color: #ff6600;
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 3em;
    letter-spacing: 15px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.9em;
    outline: none;
    animation: animate 5s linear infinite;
}

.logo-image {
    border-radius: 10px;
    height: 80px;
    margin-right: 980px;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

.section-container {
    padding: 20px;
    margin: 20px 0;
    background-color:  rgb(194, 194, 194);
    border-radius: 10px;
}

h2 {
    color: #fff;
}

p {
    line-height: 1.6;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 12px 24px; /* Aumenta el padding para agrandar el botón */
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00c3ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #ff6600;
}

/* Estilos para el botón de volver al inicio */
.volver-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #00c3ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.volver-btn:hover {
    background-color: #ff6600;
}

@media screen and (max-width: 768px) {
    header {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .logo-image {
        height: 60px;
        margin-right: 10px;
    }

    h1 {
        font-size: 2em;
        margin-top: 10px;
        text-align: center;
        letter-spacing: 5px;
    }

    .button-container {
        margin-top: 10px;
    }

    .container {
        padding: 10px;
    }

    section {
        padding: 10px;
        margin: 10px 0;
    }

    .figure-box {
        width: calc(250%);
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #fff;
}

td, th {
    border: 1px solid #000000; /* Establece un borde de 1px sólido negro para todas las celdas y encabezados */
    text-align: left;
    padding: 12px; /* Aumenta el padding para agrandar las celdas */
    background-color: #00c3ff; /* Establece un color de fondo gris claro para todas las celdas y encabezados */
}

/* CSS adicional para el botón Agregar Producto y el campo Precio */
#precio {
    padding: 8px 100px;
}

#nombre {
    padding: 8px 100px;
}

#descripcion {
    padding: 12px 105px;
}

#detalles {
    padding: 4px 105px;
}

input[type="submit"] {
    padding: 12px 24px; /* Ajusta el padding del botón Agregar Producto */
    border: none;
    border-radius: 5px;
    background-color: #00c3ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ff6600;
}

@media screen and (max-width: 768px) {
    table {
        font-size: 12px; /* Reducir el tamaño de fuente para pantallas pequeñas */
    }

    td, th {
        padding: 8px; /* Ajuste del padding para pantallas pequeñas */
    }

    #precio {
        padding: 8px 50px;
    }
    
    #nombre {
        padding: 8px 50px;
    }
    
    #descripcion {
        padding: 12px 60px;
    }
    
    #detalles {
        padding: 4px 60px;
    }
}

.section-figuras {
    text-align: center; /* Centrar las figuras horizontalmente */
}

/* Estilos para las cajas de figuras */
.figure-box {
    width: 200px; /* Ancho fijo para las figuras */
    height: 300px; /* Mantenemos la altura */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s;
    display: inline-block; /* Mostrar las figuras en línea */
    vertical-align: top; /* Alinear las figuras en la parte superior */
    box-sizing: border-box; /* Incluir el borde y el relleno en el ancho */
}

.figure-box img {
    max-width: 100%;
    height: auto;
}

.figure-box p {
    margin: 5px 0;
}

.figure-box:hover {
    box-shadow: 0 0 10px #ff6600;
}

/* Estilos para el mensaje de stock */
.stock-message {
    color: #333; /* Color del texto */
    font-size: 14px; /* Tamaño de la fuente */
    font-style: italic; /* Estilo de fuente */
    margin-top: 5px; /* Espacio superior */
}
