body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

header {
    background-color: #ff6600;
    color: #fff;
    padding: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 3em;
    letter-spacing: 10px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0098);
    line-height: 0.7em;
    outline: none;
    animation: animate 5s linear infinite;
}

.logo-image {
    height: 60px;
    margin-right: 1243px;
    border-radius: 50%;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin-top: 90px;
    padding: 20px;
}

.container h2 {
    color: #ff6600;
    text-align: center;
    margin-bottom: 20px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    background-color: orange;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #ff6600;
}

.section-container {
    padding: 20px;
    margin: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.section-container select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    outline: none;
}

.section-container input[type="text"], 
.section-container input[type="number"],
.section-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    outline: none;
}

#mensaje {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

#mensaje.hidden {
    display: none;
}
