body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
}
header {
    background-color: #ff6600;
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: flex-start; /* Alinea al inicio horizontalmente */
    align-items: center; /* Alinea verticalmente */
}

h1 {
    margin: 0; /* Elimina el margen del título */
    display: flex; /* Utilizamos flexbox para alinear verticalmente los elementos */
    align-items: center; /* Alinea verticalmente */
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.7em;
    outline: none;
    animation: animate 5s linear infinite;
}

.logo-image {
    border-radius: 10px; /* Agrega bordes redondeados */
    height: 80px; /* Ajusta la altura del logo según sea necesario */
    margin-right: 786px; /* Añade un pequeño espacio entre el logo y el título */
}

.section-container {
    padding: 20px;
    margin: 20px;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
}

h2 {
    color: #ff6600;
}

p {
    line-height: 1.6;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00c3ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #ff6600;
}

.figure-box {
    width: 200px; /* Ancho fijo */
    height: 320px; /* Altura fija */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 10px; /* Margen entre los productos */
    padding: 10px;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.figure-box img {
    max-width: 100%;
    height: auto;
}

.figure-box p {
    margin: 5px 0;
}

.figure-box:hover {
    box-shadow: 0 0 10px #ff6600;
}

.stock-message {
    color: #333; /* Color del texto */
    font-size: 14px; /* Tamaño de la fuente */
    font-style: italic; /* Estilo de fuente */
    margin-top: 5px; /* Espacio superior */
}

/* Estilos para el botón de volver al inicio */
.btn-volver {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
    padding: 10px 20px;
    background-color: #00c3ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none; /* Elimina el subrayado del enlace */
    transition: background-color 0.3s;
}

.btn-volver:hover {
    background-color: #ff6600;
}

@media screen and (max-width: 768px) {
    header {
        padding: 20px; /* Reducimos el padding */
        flex-direction: column; /* Cambiamos la dirección del flexbox a columna */
        align-items: center; /* Alineamos los elementos al centro */
    }

    .logo-image {
        height: 60px; /* Reduce la altura del logo */
        margin-right: 10px; /* Añade margen superior */
    }

    h1 {
        font-size: 3em; /* Ajusta el tamaño del título */
        margin-top: 10px; /* Añade margen superior */
        text-align: center; /* Centra el título */
        letter-spacing: 5px; /* Ajusta el espaciado entre letras */
    }

    .button-container {
        margin-top: 10px; /* Reducimos el margen superior */
    }

    section {
        padding: 10px; /* Reducimos el padding */
        margin: 10px 0; /* Ajustamos el margen */
    }

    .figure-box {
        width: calc(350%); /* Ajustar el ancho para que quepan dos figuras en una fila */
        float: right;
    }

    /* Estilos para la columna de filtros */
    .filtro {
        float: left; /* Coloca la columna a la izquierda */
        width: 1000px; /* Ancho de la columna */
        padding: 20px;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Estilos para las opciones de filtro */
    .filtro-option {
        margin-bottom: 15px;
    }

    .filtro-option label {
        display: block;
        margin-bottom: 5px;
    }

    .filtro-option select {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 1px;
        background-color: #fff;
    }

/* Estilos para el catálogo */
    #catalog {
        margin-right: 100px; /* Para dejar espacio para la columna de filtros */
    }

    .section-container {
        padding: 0px;
        margin: 0px;
        background-color: rgb(221, 221, 221);
        border-radius: 10px;
    }
    
    h2 {
        color: #ff6600;
    }

}

/* Estilos para la columna de filtros */
.filtro {
    float: left; /* Coloca la columna a la izquierda */
    width: 200px; /* Ancho de la columna */
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para las opciones de filtro */
.filtro-option {
    margin-bottom: 15px;
}

.filtro-option label {
    display: block;
    margin-bottom: 5px;
}

.filtro-option select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

/* Estilos para el catálogo */
#catalog {
    margin-left: auto; /* Elimina el margen izquierdo para centrar los productos */
    margin-right: auto; /* Elimina el margen derecho para centrar los productos */
    display: flex; /* Utilizamos flexbox para centrar los productos */
    justify-content: center; /* Centra los productos horizontalmente */
    flex-wrap: wrap; /* Permite que los productos se ajusten automáticamente en varias filas */
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00c3ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #ff6600;
}


@media screen and (max-width: 768px) {
    /* Estilos para el catálogo */
    #catalog {
        margin-right: 10px; /* Elimina el margen izquierdo para ocupar todo el ancho */
    }

    /* Estilos para las figuras, mostrando dos por fila */
    .figure-box {
        width: 48%; /* Ancho de las figuras */
        margin: 1%; /* Margen entre las figuras */
        float: left; /* Alinea las figuras a la izquierda */
    }

    /* Ajuste para el último elemento en una fila */
    .figure-box:nth-child(2n) {
        margin-right: 0; /* Elimina el margen derecho del último elemento */
    }

    /* Estilos para la columna de filtros en modo responsivo */
    .filtro {
        width: 350px; /* Ocupa todo el ancho disponible */
        float: none; /* Elimina el flotado para que se muestre debajo del catálogo */
        margin-bottom: 20px; /* Agrega margen inferior */
    }
}
/* Estilos para las figuras, mostrando dos por fila */
@media screen and (max-width: 768px) {
    #catalog .figure-box {
        width: 100%; /* Ancho de las figuras */
        margin: 1%; /* Margen entre las figuras */
        width: calc(48%);
    }

    /* Ajuste para el último elemento en una fila */
    #catalog .figure-box:nth-child(2n) {
        margin-right: 0px; /* Elimina el margen derecho del último elemento */
    }
}

.figure-box {
    width: 250px; /* Aumentamos el ancho de la caja */
    height: 380px; /* Aumentamos la altura de la caja */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px; /* Incrementamos el espacio interno */
    box-sizing: border-box; /* Incluimos el padding en el tamaño total */
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.figure-box p {
    margin-top: 10px; /* Ajustamos el margen superior del párrafo */
    margin-bottom: 10px; /* Ajustamos el margen inferior del párrafo */
}

