/* Estilos para la columna de filtros */
.filtro {
    float: left; /* Coloca la columna a la izquierda */
    width: 200px; /* Ancho de la columna */
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para las opciones de filtro */
.filtro-option {
    margin-bottom: 15px;
}

.filtro-option label {
    display: block;
    margin-bottom: 5px;
}

.filtro-option select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

/* Estilos para el catálogo */
#catalog {
    margin-left: 240px; /* Para dejar espacio para la columna de filtros */
}

.filtro {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; /* Agrega esquinas redondeadas */
    margin-bottom: 20px;
}

.filtro-option {
    margin-bottom: 15px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00c3ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #ff6600;
}
