/* Estilos para el contenedor del título y los iconos */
.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinea el título y los iconos al extremo derecho */
    width: 100%; /* Ajusta el ancho del contenedor para ocupar todo el espacio disponible */
}

/* Estilos para el título */
h1 {
    margin: 0; /* Elimina el margen del título */
    font-size: 38px; /* Tamaño del título */
}

/* Estilos para los iconos */
.icon-container {
    display: flex;
    align-items: center;
    margin-left: auto; /* Mueve los iconos al extremo derecho */
    flex-wrap: wrap; /* Permite que los iconos se envuelvan si no hay suficiente espacio */
}

.icon {
    color: rgb(105, 50, 255);
    font-size: 30px;
    margin-left: 10px; /* Espacio entre los iconos */
    text-decoration: none;
}

.icon:hover {
    color: rgb(105, 50, 255);
}

/* Estilos para los iconos */
.icon-container {
    display: flex;
    align-items: center;
    margin-left: auto; /* Mueve los iconos al extremo derecho */
    flex-wrap: nowrap; /* Evita que los iconos se envuelvan y los mantiene en una sola línea */
}

.icon {
    color: rgb(105, 50, 255);
    font-size: 30px;
    margin-left: 10px; /* Espacio entre los iconos */
    text-decoration: none;
}

.icon:first-child {
    margin-left: 0; /* Elimina el margen izquierdo del primer icono */
}

.icon:hover {
    color: rgb(105, 50, 255);
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 768px) {
    .title-container {
        flex-direction: column; /* Cambia la dirección del contenedor a columna en dispositivos pequeños */
        align-items: center; /* Centra los elementos en la columna */
    }

    .icon-container {
        display: flex; /* Muestra los iconos solo en modo responsivo */
        margin-top: 5px; /* Añade un margen superior */
        margin-left: auto; /* Mueve los iconos al extremo derecho */
    }

    .icon {
        font-size: 30px; /* Tamaño de los iconos para dispositivos pequeños */
        margin-left: 10px; /* Espacio entre los iconos para dispositivos pequeños */
    }

    h1 {
        font-size: 0px; /* Tamaño del título para dispositivos pequeños */
        text-align: center;
    }
}
