body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
}
header {
    background-color: #ff6600;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: flex-start; /* Alinea al inicio horizontalmente */
    align-items: center; /* Alinea verticalmente */
}

.section-container {
    padding: 20px;
    margin: 20px;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
}

h1 {
    margin: 0; /* Elimina el margen del título */
    display: flex; /* Utilizamos flexbox para alinear verticalmente los elementos */
    align-items: center; /* Alinea verticalmente */
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0098);
    line-height: 0.7em;
    outline: none;
    animation: animate 5s linear infinite;
}

p {
    line-height: 1.6;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff6600; /* Azul */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #ff6600; /* Azul más oscuro */
}

.logo-image {
    border-radius: 10px; /* Agrega bordes redondeados */
    height: 80px; /* Ajusta la altura del logo según sea necesario */
    margin-right: 794px; /* Añade un pequeño espacio entre el logo y el título */
}

.section-container {
    padding: 20px;
    margin: 20px;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
}


