/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6600;
    color: #fff;
    padding: 2% 5%; /* Ajuste para tamaños de pantalla más pequeños */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 2em; /* Tamaño de fuente inicial */
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 1em;
}

.logo-image {
    height: 85px;
    max-width: 20%; /* Ajuste para tamaños de pantalla más pequeños */
    margin-right: 60%;
}

section {
    padding: 2% 5%; /* Ajuste para tamaños de pantalla más pequeños */
    margin: 2% 0; /* Ajuste para tamaños de pantalla más pequeños */
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
}

h2 {
    color: #ff6600;
    text-align: center;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 768px) {
    header {
        padding: 5% 5%; /* Reducimos el padding */
        flex-direction: column; /* Cambiamos la dirección del flexbox a columna */
        align-items: center; /* Alineamos los elementos al centro */
    }

    .logo-image {
        height: 75px;
        max-width: 100%; /* Ajuste para tamaños de pantalla más pequeños */
    }

    h1 {
        font-size: 0px; /* Ajusta el tamaño del título */
        margin-top: 10px; /* Añade margen superior */
        text-align: center; /* Centra el título */
        letter-spacing: 5px; /* Ajusta el espaciado entre letras */
    }

    .button-container {
        margin-top: 10px; /* Reducimos el margen superior */
    }

    section {
        padding: 10px; /* Reducimos el padding */
        margin: 10px 0; /* Ajustamos el margen */
    }

    .figure-box {
        width: calc(40% - 20px); /* Ajustar el ancho para que quepan dos figuras en una fila */
    }
}

/* Estilos para los botones */
.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff6600;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #ff6600;
}

.section-figuras {
    text-align: center;
}

/* Estilos para las cajas de figuras */
.figure-box {
    width: 200px;
    height: auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.figure-box img {
    max-width: 100%;
    height: auto;
}

.figure-box p {
    margin: 5px 0;
}

.figure-box:hover {
    box-shadow: 0 0 10px #ff6600;
}

/* Estilos para el mensaje de stock */
.stock-message {
    color: #333;
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
}

/* Estilos para la galería de imágenes */
.gallery-container {
    text-align: center;
}

/* Estilos para las cajas de figuras en dispositivos pequeños */
@media screen and (max-width: 768px) {
    .figure-box {
        width: calc(50% - 23px); /* Ajustar el ancho para que quepan dos figuras en una fila */
    }
}
