body {
    font-family: Arial, sans-serif;
    background-color: rgb(221, 221, 221);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #fff;
    padding: 43px 0; /* Aumentamos el padding vertical para que el fondo azul sea más grande */
    background-color: #ff6600;
    font-size: 30px;
    margin-top: 0;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(221, 221, 221);
    padding: 25px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #ff6600;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ff6600;
}

input[type="submit"] {
    background-color: #ff6600;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ff6600;
}
