/* Estilos para el pie de página */
footer {
    background-color: #ff6600;
    color: #fff;
    text-align: center;
    padding: 1px 0; /* Ajustar el padding según sea necesario */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: static;
    bottom: 0;
    width: 100%;
}
