.gallery {
    display: none;
    width: 100%; /* Ajustar el ancho al 100% */
    height: auto; /* Altura automática para mantener la proporción */
}

.gallery-container {
    position: relative;
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: auto;
}
